@import "./scss/mixin.scss";

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }

  .navigation {
    display: none;
  }

  .burger-menu {
    display: inline-block;
  }

  .about {
    height: 862px;

    h2 {
      padding-top: 13px;
    }

    .second-pic,
    .third-pic {
      display: none;
    }
  }

  .about__arrow {
    display: inline-block;
    margin: 43px 23px 0;
  }

  .favorites__items,
  .library-card__container {
    @include media-mixin-display-flex-col(center, center);
  }

  .favorites__items {
    gap: 40px;
  }
  .favorites__items__left-col {
    margin-right: 40px;
  }

  .coffee-shop__container {
    @include media-mixin-display-flex-col(center, flex-start);
    gap: 40px;

    .right {
      align-self: flex-end;
    }
  }

  .coffee-shop__text {
    width: 728px;
    height: 200px;
  }

  .contacts__container {
    @include media-mixin-display-flex-col(center, flex-start);
    gap: 100px;

    .contacts__container__map {
      align-self: flex-end;
      margin-right: 15px;
    }
  }

  .library-card__container {
    gap: 21px;

    .library-card__container__get-card {
      align-items: center;
      gap: 39px;

      p {
        width: 600px;
        text-align: center;
      }
    }

    .get-card__title {
      text-align: center;
    }
  }

  .card__wrapper__border {
    margin-top: 32px;

    button {
      margin: 18px 159px 30px;
    }
  }
}
