@import "./scss/mixin.scss";

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }

  .navigation {
    display: none;
  }

  .burger-menu {
    display: inline-block;
  }

  .favorites__items, .coffee-shop__container, .contacts__container, .library-card__container {
    @include media-mixin-display-flex-col(center, center);
  }
}
