@import "./scss/mixin.scss";
@import "./scss/extends.scss";

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Forum";
  src: url(assets/fonts/Forum-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0px;
  border: none;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #9a9a9a;
}

.wrapper {
  width: 1440px;
  margin: 0px auto;
  background-color: #fff;
}

section:not(.welcome) {
  @extend %extend-padding-20;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

h2,
p {
  @extend %extend-margin-padding-none;
}

h2 {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}

hr:not(.favorites__item__line) {
  width: 50px;
  border: 1px solid #0c0c0e;
  margin: 20px auto 40px;
  padding: 0;
}

header {
  @include mixin-display-flex-row(space-between);
  background: #0c0c0e;
  color: #ffffff;
  height: 90px;
  padding: 20px;
}

.BPL-logo h1 {
  font-family: Forum;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-weight: inherit;
}

.header-menu {
  @include mixin-display-flex-row(space-evenly);
  gap: 40px;
}

.navigation {
  ul {
    @include mixin-display-flex-row(center);
    gap: 30px;
  }

  a {
    @extend %extend-hover-link;
  }
}

.welcome {
  @include mixin-display-flex-row(flex-start);
  height: 600px;
  background: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 40%
    ),
    url(assets/images/85c1859f825ed82614b2036bc8be037f.jpeg), center, no-repeat;
  background-position: 100%;
  background-size: cover;
}

.welcome__text {
  background-color: #0c0c0e;
  width: 600px;
  height: 220px;
  padding: 35px 40px;

  p {
    width: 520px;
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.about {
  @include mixin-display-flex-col(center);
  height: 837px;

  p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
}

.about__pics {
  @include mixin-display-flex-row(center);
  gap: 25px;
  margin: 20px 0 0;

  div {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__carousel {
  @include mixin-display-flex-row(center);
  margin-top: 40px;
  gap: 2px;

  a {
    height: 26px;
    width: 26px;
  }
}

.circle {
  background-color: #0c0c0e;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  height: 16px;
  width: 16px;
  position: relative;
}

.another-color {
  background-color: #bb945f;
}

.favorites {
  display: flex;
  flex-direction: column;
}

.favorites__text {
  p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
  }
}

.seasons {
  @include mixin-display-flex-row(flex-start);
  gap: 90px;
  margin: 40px 0;
}

.seasons__elem {
  input[type="radio"] {
    cursor: pointer;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 2px #000000;

    &:checked {
      box-shadow: 0 0 0 2px #000000;
      background-color: #000000;
    }
  }

  .seasons__elem__bold {
    font-weight: 700;
  }

  label {
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.favorites__items {
  @include mixin-display-flex-row(space-between);

  aside {
    @include mixin-display-flex-col(space-between);
    gap: 40px;
  }
}

.favorites__item {
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;

  h6 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    @extend %extend-margin-padding-none;
  }

  p {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  article {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  button {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0c0c0e;
    background: none;
  }

  img {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    z-index: 2;
  }
}
