header {
  background: #0c0c0e;
  color: #ffffff;
}

.BPL_logo {
  color: #fff;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}
